# Arrays in Python

In [1]:
import array

In [2]:
a=array.array('i',[1,2,3,4,5,6])
a

array('i', [1, 2, 3, 4, 5, 6])

In [3]:
import array as arr

In [4]:
b=arr.array('i',[1,2,3,4,5,6])
b

array('i', [1, 2, 3, 4, 5, 6])

In [5]:
from array import *

In [6]:
c=array('i',[1,2,3,4,5,6])
c

array('i', [1, 2, 3, 4, 5, 6])

In [7]:
#Accessing array elements
a[3]

4

In [8]:
len(a)

6

 # Input Function

In [9]:
name=input("What is your name???")
print("My name is",name)

What is your name???Dikshita
My name is Dikshita

In [10]:
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
print(a+b)

Enter the first number: 45
Enter the second number: 89
134

# Operators in Python

I. Arithmetic Operations

In [11]:
p=10
q=45

In [12]:
print(p+q)
print(p-q)
print(p*q)
print(p/q)
print(p%q)
print(p**q)

55
-35
450
0.2222222222222222
10
1000000000000000000000000000000000000000000000

II. Assignment Operators

In [13]:
a=5

In [14]:
a+=5  #a=a+5
a

10

In [15]:
a*=10   #a=a*10
a

100

In [16]:
a*=12
a

1200

In [17]:
x=True
y=False

In [18]:
x&=y
x

False

In [19]:
x|=y
x

False

III. Comparison Operator

In [20]:
val=10
num=45

In [21]:
compare=val>num

In [22]:
compare

False

#Conditional Statements

In [23]:
#Eg 1: if b>a
a=12
b=17

if b>a:
  print("b is greater than a")

b is greater than a

I. If Statement

In [24]:
#Eg 2: positive number

num=5
if num>0:
  print(num,"is positive")

print("This statement is true")

5 is positive
This statement is true

I.If else conditions

In [25]:
# Eg 1: Even and odd number
num=int(input("Enter the number:"))

if num%2==0:
  print(num,"is even")

else:
  print(num,"is odd")

Enter the number:6
6 is even

If,else,else-if

In [26]:
#Eg: Greater or smaller
val=67
num=89

if val==num:
  print("equal")
elif val>num:
  print("val is greater")

else:
  print("val is smaller")

val is smaller

###   Loops in Python

I. While Loop

In [27]:
#Eg: Print till 8

i=0
while i<9:
  print('Number:' ,i)
  i=i+1

print("We have printed the numbers till 8")

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Number: 6
Number: 7
Number: 8
We have printed the numbers till 8

In [28]:
#Assignment
#Print 2 table

i=2
while i<=20:
  print(i)
  i=i+2

2
4
6
8
10
12
14
16
18
20

In [29]:
import random
random.seed(6)
random.randint(0,14000)

12998

***************************************************
*******************************************************

In [30]:
 #3  Assignment :Create a list of 5 random numbers using while loop and random

list=[]

i=0
while i<5:
  list.append(random.randint(1,50))
  i=i+1

print(list)

[37, 6, 32, 49, 17]

II.For Loop

In [31]:
#Eg : Print 0 to 3

n=4

for i in range(0,n):
  print(i)

0
1
2
3

In [32]:
#Eg : Print numbers less than 20
 
for i in range(20):
  print(i ,"This number is less than 20")

print("GoodBye")

0 This number is less than 20
1 This number is less than 20
2 This number is less than 20
3 This number is less than 20
4 This number is less than 20
5 This number is less than 20
6 This number is less than 20
7 This number is less than 20
8 This number is less than 20
9 This number is less than 20
10 This number is less than 20
11 This number is less than 20
12 This number is less than 20
13 This number is less than 20
14 This number is less than 20
15 This number is less than 20
16 This number is less than 20
17 This number is less than 20
18 This number is less than 20
19 This number is less than 20
GoodBye

In [33]:
for i in range(1,50,5):
  print(i)

1
6
11
16
21
26
31
36
41
46

In [34]:
#Assignment
list2=[]
for i in range(20):
  list2.append(random.randint(1,50))
  i=i+1
print(list2)      #numbers can be repeated

[3, 1, 10, 43, 38, 31, 49, 48, 24, 21, 50, 2, 18, 32, 13, 47, 27, 35, 35, 44]

In [35]:
#'Python','Machine Learning','Data Analysis'
DataScience=['Python','Machine Learning','Data Analysis']

for i in DataScience:
  print(i)

print("I completed the Data Science Course")

Python
Machine Learning
Data Analysis
I completed the Data Science Course

In [36]:
#Factorial of a number

num=int(input("Enter the number:"))

factorial=1

if num<0:
  print("Factorial for negative number is not possible")

elif num==0:
  print("Factorial of 0 is 1")

else:
  for i in range(1,num+1):
    factorial=factorial*i
  print("The factorial of", num,"is", factorial)

Enter the number:5
The factorial of 5 is 120

III.Nested For Loop

In [37]:
#for inside for   .....1 to 10 table

for i in range(1,11):
  for j in range(1,11):
    print(i*j,end='  ')    #1*1   ,#1*2
                           #2 *1   #2*2
  print("\n")

1  2  3  4  5  6  7  8  9  10

2  4  6  8  10  12  14  16  18  20

3  6  9  12  15  18  21  24  27  30

4  8  12  16  20  24  28  32  36  40

5  10  15  20  25  30  35  40  45  50

6  12  18  24  30  36  42  48  54  60

7  14  21  28  35  42  49  56  63  70

8  16  24  32  40  48  56  64  72  80

9  18  27  36  45  54  63  72  81  90

10  20  30  40  50  60  70  80  90  100

In [38]:
#Eg 1 to 4 table

i=1
while i<=4:
  j=0

  while j<=3:
    print(i*j,end="  ")    #1*0    #1*2

                     #  i=2
                     #j=0    #j=1
    j=j+1
  print()
  i=i+1    #i=2

0  1  2  3
0  2  4  6
0  3  6  9
0  4  8  12

In [39]:
#while loop inside for loop....apple mango pineapple



fruits=['Apple','Mango','Pineapple']

for i in fruits:
  count=0
  while count<5:
    print(i,end=" ")
    count=count+1
  print()

Apple Apple Apple Apple Apple
Mango Mango Mango Mango Mango
Pineapple Pineapple Pineapple Pineapple Pineapple

## 8.Functions

## Functions

In [40]:
y=["hi","hello"]

In [41]:
y.append(10)
y

['hi', 'hello', 10]

In [42]:
y.append([2,3,4,5]) 
print(y)

['hi', 'hello', 10, [2, 3, 4, 5]]

In [43]:
y.extend([94,56,34])
print(y)

['hi', 'hello', 10, [2, 3, 4, 5], 94, 56, 34]

In [44]:
y=y+["i","like","programming"]
y

['hi', 'hello', 10, [2, 3, 4, 5], 94, 56, 34, 'i', 'like', 'programming']

In [45]:
y.insert(4,"HarryPotter")
print(y)

['hi', 'hello', 10, [2, 3, 4, 5], 'HarryPotter', 94, 56, 34, 'i', 'like', 'programming']

In [46]:
y.pop()   #deletes the last element but can be used to detete specific element using pop(6)
print(y)

['hi', 'hello', 10, [2, 3, 4, 5], 'HarryPotter', 94, 56, 34, 'i', 'like']

In [47]:
y.pop(5)
print(y)

['hi', 'hello', 10, [2, 3, 4, 5], 'HarryPotter', 56, 34, 'i', 'like']

In [48]:
y.remove("HarryPotter")
print(y)

['hi', 'hello', 10, [2, 3, 4, 5], 56, 34, 'i', 'like']

In [49]:
lst=["sun","moon","earth"]

In [50]:
tpl=("Apple","Mango","Pineapple")

In [51]:
type(tpl)

tuple

In [52]:
type(lst)

list

In [53]:
a=67
b=98
c=b<a
bool(c)

False

In [55]:
len(tpl)

3

In [56]:
min(4,89,78)

4

In [57]:
max(5,8,45)

45

In [58]:
x=["a","d","u"]

In [59]:
sorted(x)

['a', 'd', 'u']

In [60]:
def my_func(firstname):        #defining a function
  print(firstname + 'DataScientist')

In [61]:
my_func('Divya')   #calling a function

DivyaDataScientist

In [62]:
def f1(favfood='Biryani'):
  print("I love " + favfood)

In [63]:
f1("Italian")

I love Italian

In [64]:
def f2(x):
  return 5*x  #5*6

In [65]:
f2(6)

30

In [66]:
def function_name(Friend1,Friend2,Friend3):
  print("My bestfriend is " + Friend3)

  
function_name(Friend1='A',Friend2='B',Friend3='C')

My bestfriend is C







#Project

In [67]:
print("Welcome to Indian Bank")
restart=('Y')
chances=3
balance=10000
while chances>=0:
  pin=int(input("Please enter your 4-digit pin: "))
  if pin==(1234):
    print("You have correctly entered the PIN")
    while restart not in ('n','N'):
      print("Press 1 for viewing balance\n")
      print("Press 2 for withdrawal\n")
      print("Press 3 for pay in\n")
      print("Press 4 to your return card\n")
      option=int(input("What would you like to choose?"))
      if option==1:
        print("Your balance is",balance,"\n")
        restart=input("Would you like to go back?")
        if restart in ('n','N'):
          print("Thank You for banking with Indian Bank")
          break
      elif option==2:
        withdrawal=int(input("How much money do you want to withdraw: "))
        if withdrawal>balance:
          print("You dont have enough balance ")
        if withdrawal<balance:
          print("Withdrawal is successful")
          balance=balance-withdrawal
          print("Your current balance is", balance)
          restart=input("Would you like to go back?")
        if restart in ('n','N'):
          print("Thank You for banking with Indian Bank")
          break
      elif option==3:
        pay_in=int(input("How much money you would like to pay in?"))
        balance=balance+pay_in   #balance+=pay_in
        print("You currect balance is",balance,"\n")
        restart=input("Would you like to go back?")
        if restart in ('n','N'):
          print("Thank You for banking with Indian Bank")
          break
      elif option==4:
        print("Please wait till your card is returned")
        print("Thank You for banking with Indian Bank")
        break
      else: 
        print("Please enter a correct number from 1 to 4")
  elif pin!=('1234'):
    print("Incorrect pin")
    chances=chances-1
    if chances==0:
      print("No more chances")
      break

Welcome to Indian Bank
Please enter your 4-digit pin: 1234
You have correctly entered the PIN
Press 1 for viewing balance

Press 2 for withdrawal

Press 3 for pay in

Press 4 to your return card

What would you like to choose?1
Your balance is 10000

Would you like to go back?y
Press 1 for viewing balance

Press 2 for withdrawal

Press 3 for pay in

Press 4 to your return card

What would you like to choose?2
How much money do you want to withdraw: 3000
Withdrawal is successful
Your current balance is 7000
Would you like to go back?y
Press 1 for viewing balance

Press 2 for withdrawal

Press 3 for pay in

Press 4 to your return card

What would you like to choose?3
How much money you would like to pay in?7000
You currect balance is 14000

Would you like to go back?y
Press 1 for viewing balance

Press 2 for withdrawal

Press 3 for pay in

Press 4 to your return card

What would you like to choose?4
Please wait till your card is returned
Thank You for banking with Indian Bank
Please enter your 4-digit pin: 4567
Incorrect pin
Please enter your 4-digit pin: 7890
Incorrect pin
Please enter your 4-digit pin: 2345
Incorrect pin
No more chances